<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuziran.livechat.mapper.FriendsMapper">

    <insert id="insert">
        INSERT INTO user_relations (user_id,friend_id,status,create_time)
        VALUES (#{userId},#{friendId},3,NOW())
            ON DUPLICATE KEY UPDATE status = VALUES(status);
        INSERT INTO user_relations (user_id,friend_id,status,create_time)
        VALUES (#{friendId},#{userId},0,NOW())
            ON DUPLICATE KEY UPDATE status = VALUES(status);
    </insert>
    <update id="update">
        update user_relations
        set status = #{status}
        where user_id = #{userId} and friend_id = #{friendId};
        update user_relations
        set status = #{status}
        where user_id = #{friendId} and friend_id = #{userId};
    </update>
    <delete id="delete">
        delete from user_relations
        where user_id = #{userId} and friend_id = #{friendId};
        delete from user_relations
        where user_id = #{friendId} and friend_id = #{userId};
    </delete>
    <select id="list" resultType="com.xuziran.livechat.pojo.entity.User">
        SELECT
        u.id,
        u.username,
        u.nickname,
        u.avatar,
        u.status
        FROM users u,user_relations r
        WHERE r.user_id = #{userId} and u.id = r.friend_id and r.status = 1
    </select>
    <select id="listRequest" resultType="com.xuziran.livechat.pojo.entity.User">
        SELECT
            u.id,
            u.username,
            u.nickname,
            u.avatar,
            u.status,
            r.create_time
        FROM users u,user_relations r
        WHERE r.user_id = #{userId} and u.id = r.friend_id and r.status = 0
    </select>
</mapper>