<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuziran.livechat.mapper.UserMapper">
    <insert id="insert">
        insert into users(username,password,avatar,nickname,status,create_time,update_time)
        values(#{username},#{password},#{avatar},#{nickname},0,now(),now())
    </insert>
    <update id="updateStatus">
        update users set status=1,update_time=now() where username=#{username}
    </update>
    <update id="update">
        update users
        <set>
            <if test="username != null">
                username=#{username},
            </if>
            <if test="password != null">
                password= #{password},
            </if>
            <if test="nickname != null">
                nickname= #{nickname},
            </if>
            <if test="avatar != null">
                avatar= #{avatar},
            </if>
            <if test="status != null">
                status= #{status},
            </if>
            update_time=now()
        </set>
        where id=#{id}
    </update>

    <select id="login" resultType="com.xuziran.livechat.pojo.entity.User">
        select * from users where username=#{username}
    </select>
    <select id="queryOnlineUser" resultType="com.xuziran.livechat.pojo.entity.User">
        select * from users where status=1
    </select>
    <select id="getIdByUsername" resultType="java.lang.Long">
        select id from users where username=#{username}
    </select>
    <select id="getById" resultType="com.xuziran.livechat.pojo.entity.User">
        select * from users where id=#{id}
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(*) from users
    </select>


</mapper>